In [2]:
import pandas as pd #Import Pandas with alias pd
data = [1,2,3]
df = pd.DataFrame(data) #Converting a list to a dataframe
df

   0
0  1
1  2
2  3

In [3]:
student = [['Tom', 90], ['Jack', 80], ['Jill', 70]] #Create a 2D list for 2 Columns
data_student = pd.DataFrame(student, columns=['Name', 'Grade']) #'Name' , 'Grade' Is Column header
data_student

   Name  Grade
0   Tom     90
1  Jack     80
2  Jill     70

In [4]:
data_student['Name']

0     Tom
1    Jack
2    Jill
Name: Name, dtype: object

In [6]:
new_student = [['Sam', 'Soccer', 'Male'], ['Mary', 'Running', 'Female'], ['John', 'Tennis', 'Male'], ['Joseph', 'Boxing', 'Male']]
new_student = pd.DataFrame(new_student, columns=['Name', 'Hobby', 'Gender'])
data_student = pd.concat([data_student, new_student], ignore_index=True)#combine 2 dataframes 
new_student

     Name    Hobby  Gender
0     Sam   Soccer    Male
1    Mary  Running  Female
2    John   Tennis    Male
3  Joseph   Boxing    Male